<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>

<body class="fondo">

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" (click)="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a routerLink="/Inicio" class="w3-bar-item w3-button w3-padding-large">INICIO</a>
   <!-- <a routerLink="/Inicio#cairel" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SALON CAIREL</a>
    <a routerLink="/Inicio#portal" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SALON PORTAL MÁGICO</a>
    <a routerLink="/Inicio#quinta" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SALON QUINTA CASABONNA</a>
    <a routerLink="/Inicio#contacto" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACTO</a>-->
    <a routerLink="/Reservas" class="w3-bar-item w3-button w3-padding-large w3-hide-small">VER MIS RESERVAS</a>
    <a routerLink="/Invitaciones" class="w3-bar-item w3-button w3-padding-large w3-hide-small">VER MIS INVITACIONES</a>
   <!--  <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MAS <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="/Reservas" class="w3-bar-item w3-button">Mis reservas</a>
        <a routerLink="/Invitaciones" class="w3-bar-item w3-button">Mis invitaciones</a>
      </div>
    </div>-->
    <a routerLink="/Login" class="w3-padding-large w3-hover-green w3-hide-small w3-right" *ngIf="usuario==null || usuario ==''"><i class=" 	fa fa-user"></i>INICIAR SESION</a>
    <a (click)="cerrarSesion()" class="w3-padding-large w3-hover-red w3-hide-small w3-right" *ngIf="usuario!=null"><i class=" 	fa fa-user"></i>CERRAR SESION</a>
  </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
 <!-- <a href="/Inicio#cairel" class="w3-bar-item w3-button w3-padding-large">SALON CAIREL</a>
  <a href="/Inicio#portal" class="w3-bar-item w3-button w3-padding-large">SALON PORTAL MÁGICO</a>
  <a href="/Inicio#quinta" class="w3-bar-item w3-button w3-padding-large">SALON QUINTA CASABONNA</a>
  <a href="/Reservas" class="w3-bar-item w3-button w3-padding-large">MIS RESERVAS</a>
  <a href="/Invitaciones" class="w3-bar-item w3-button w3-padding-large">MIS INVITACIONES</a>
  <a href="/Inicio#contacto" class="w3-bar-item w3-button w3-padding-large">CONTACTO</a> -->
  <a routerLink="/Reservas" class="w3-bar-item w3-button w3-padding-large">MIS RESERVAS</a>
  <a routerLink="/Invitaciones" class="w3-bar-item w3-button w3-padding-large">MIS INVITACIONES</a>
  <a routerLink="/Login" class="w3-bar-item w3-button w3-padding-large" *ngIf="usuario==null || usuario ==''"><i class=" 	fa fa-user"></i>INICIAR SESION</a>
  <a (click)="cerrarSesion()" class="w3-bar-item w3-button w3-padding-large" *ngIf="usuario!=null"><i class=" 	fa fa-user"></i>CERRAR SESION</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px" >

  <!-- Automatic Slideshow Images -->
  <div id="fotos" style="background-color:grey; " >
  <div class="mySlides w3-display-container w3-center"  id="1">
    <img src="/assets/imagenes/cairelInicio.jpg" style="width:70%; ">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3 >CAIREL</h3>
      <p><b>Pensado para cumpleaños. </b></p>   
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center" id="2">
    <img src="/assets/imagenes/portalMagicoInicio.jpg" style="width:70%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>PORTAL MÁGICO</h3>
      <p><b>Pensado para fiestas infantiles.</b></p>    
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center" id="3">
    <img src="/assets/imagenes/quintaInicio.png" style="width:75%;">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>QUINTA CASABONNA</h3>
      <p><b>Pensado para despedidas o casamientos.</b></p>    
    </div>
  </div>
  </div>


  <!-- The Band Section -->
  <!--CAIREL-->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="cairel">
    <h2 class="w3-wide">CAIREL</h2>
    <p class="w3-opacity"><i>#Elegancia #Comodidad</i></p>
    <p class="w3-justify">Un salón diseñado y ambientado para realizar su fiesta con una hermosa pista de baile en la cual va poder disfrutar de buena musica y buenos tragos, con una capacidad para 100 invitados.</p>
    <div class="w3-row w3-padding-32" >
      <div class="w3-third">
        <p>Pista de baile</p>
        <img src="/assets/imagenes/cairel1.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:70%;height:120px;">
      </div>
      <div class="w3-third">
        <p>Reservado</p>
        <img src="/assets/imagenes/cairel2.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:70%;height:120px;">
      </div>
      <div class="w3-third">
        <p>Mesa principal</p>
        <img src="/assets/imagenes/cairel3.jpg" class="w3-round" alt="Random Name" style="width:70%;height:120px;">
      </div>
    </div>
    <br>
    <button class="w3-button w3-black w3-margin-bottom" (click)="Redireccionar('cairel')" style="width:160px;height:60px;" >Reservar en "Cairel"</button>
  </div>

  <!--Portal magico -->
  <!-- The Tour Section -->
  <div class="w3-black" id="portal">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">PORTAL MÁGICO</h2>
      <p class="w3-opacity w3-center"><i>#Infantiles #Juegos</i></p><br>
      <p class="w3-justify">Salón de fiestas infantiles diseñado para la celebración y felicidad de los mas pequeños de la familia. Cuenta con tobogán, inflables y todo eso que a ellos les encanta. Cuenta con una capacidad para 50 invitados. </p>
    
      <div class="w3-row w3-padding-32" >
        <div class="w3-third">
          <p>Mesas</p>
          <img src="/assets/imagenes/portalMagico1.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:70%; height:120px;">
        </div>
        <div class="w3-third">
          <p>Acrobacia</p>
          <img src="/assets/imagenes/portalMagico2.jpeg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:70%;height:120px;">
        <br>
        <br>
        <br>
        <button class="w3-button w3-black w3-margin-bottom " (click)="Redireccionar('portal')" style="width:220px;height:50px; border: 1px solid white;" >Reservar en "Portal Magico"</button>
        </div>
        <div class="w3-third">
          <p>Toboganes</p>
          <img src="/assets/imagenes/portalMagico3.jpg" class="w3-round" alt="Random Name" style="width:70%;height:120px;">
        </div>
      </div> 
      
     
    </div>
  </div>

  <!--quinta casanbonna-->
  <div class="w3-sand" id="tour">
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="quinta">
    <h2 class="w3-wide">QUINTA CASABONNA</h2>
    <p class="w3-opacity"><i>#Aire #Amplitud</i></p>
    <p class="w3-justify">Una quinta especial para realizar su fiesta de casamiento al aire libre junto al amor de su vida y sus afectos, con disponibilidad para 200 invitados.</p>
    <div class="w3-row w3-padding-32" >
      <div class="w3-third">
        <p>Espacio cubierto</p>
        <img src="/assets/imagenes/casabonna1.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:70%;height:120px;">
      </div>
      <div class="w3-third">
        <p>Parque</p>
        <img src="/assets/imagenes/casabonna2.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:70%;height:120px;">
      </div>
      <div class="w3-third">
        <p>Altar</p>
        <img src="/assets/imagenes/casabonna3.jpg" class="w3-round" alt="Random Name" style="width:70%;height:120px;">
      </div>
    </div>
    <br>
    <button class="w3-button w3-black w3-margin-bottom" (click)="Redireccionar('quinta')" style="width:200px;height:60px;" >Reservar en "Casabonna"</button>
  </div>
  </div>

  <!-- Ticket Modal -->
  <div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
      </header>
      <div class="w3-container">
        <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
        <input class="w3-input w3-border" type="text" placeholder="How many?">
        <p><label><i class="fa fa-user"></i> Send To</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email">
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
      </div>
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px;max-height:40px;" id="contacto">
    <h2 class="w3-wide w3-center">CONTACTO</h2>
    <p class="w3-opacity w3-center"><i>Consultas? Comuníquese con nosotros.</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Avellaneda, Buenos Aires<br>
        <i class="fa fa-phone" style="width:30px"></i> Teléfono: +5411 20304050<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Correo electrónico: palace.eventual@outlook.com<br>
      </div>
      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Nombre" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Correo electrónico" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>
<!-- Add Google Maps -->
<div id="googleMap" style="height:400px;" class="w3-grayscale-max"></div>
<script>
function myMap() {
  myCenter=new google.maps.LatLng(41.878114, -87.629798);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
alert("alog");
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
